<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">

    <title>Befree - Match details</title> 
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1">Befree</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="index.html" class="btn btn-outline-info">Home</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <div id="signinbutton">
                    <a href="signin.html" class="btn btn-outline-success">Sign in</a>
                    <a href="register.html" class="btn btn-outline-primary">Sign up</a>
                </div>
            </form>
        </div>
    </nav>

    <div id="content">
        <div id="app">
            <div class="row">
                <div class="offset-1 col-5">

                    <h2>Match Details</h2>
                    <!-- <hr/> -->
                    <div id="matchCard">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{match.home_team}} VS {{match.away_team}}</h5>
                                <h5 class="card-text">{{match.home_score}}:{{match.away_score}}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">MATCH {{match.status}}</li>
                                <li class="list-group-item">{{match.date_time}}</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" @click="goToLink(match.home_team)" class="card-link">Home team</a>
                                <a href="#" @click="goToLink(match.away_team)" class="card-link">Away team</a>
                            </div>
                        </div>
                    </div>

                    <hr/>
                    <h2>Bet</h2>
                    <!-- <hr/> -->
                    <div id="betDivUser">
                        <span>You currently have {{betPoints}} points you can bet. You can bet on this match until the match begins.</span>
                        <br/>
                        <br/>
                        <div v-if="betPossible">
                            <div class="form-group row">
                                <label for="bettingNumber" class="col-6 col-form-label">Bet your points</label>
                                <div class="col-5">
                                    <input type="number" class="form-control" id="bettingNumber" name="bettingNumber" placeholder="0" step="1" min="1">
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" @click="postBet(match.id, 'H')">Home team wins</button>
                            <button type="button" class="btn btn-secondary" @click="postBet(match.id, 'D')">Draw</button>
                            <button type="button" class="btn btn-info" @click="postBet(match.id, 'A')">Away team wins</button>
                        </div>
                        <div v-else> You can no longer bet on this match</div>
                    </div>
                    <div id="betDivNotUser">You need to sign in in order to be able to bet. 
                    </div>
                </div>

                <div class="col-5">
                    <h2>Comment section</h2>
                    <hr/>

                    <div id="commentUser">
                        
                        <div class="form-group">
                            
                            <textarea placeholder="You can only comment once per match." class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="content"></textarea>
                            <br/>
                            <label for="exampleFormControlTextarea1">Post a comment</label>
                            <button type="button" id="buttonPostComment" class="btn btn-secondary" @click="postComment(match.id, content)">Post</button>
                        </div>
                    </div>
                    <div id="commentNotUser">You need to sign in in order to post comments.
                    </div>
                    <hr/>

                    <div class="list-group" id="commentSection" v-for="comment in comments">
                        <a class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{comment.User}}</h5>
                                <small class="text-muted">{{comment.Likes}} Likes</small>
                            </div>
                            <p class="mb-1">{{comment.Content}}</p>
                            <small class="text-muted">{{comment.Created}} <button type="button" class="btnLikes btn btn-primary btn-sm" @click="likeComment(comment)">Like</button></small>
                        </a>
                    </div>

         <!--            <ul v-for="comment in comments">
                        <li>{{comment.User}}:
                            <br> {{comment.Content}}
                            <br> Posted on {{comment.Created}}
                            <br> likes: {{comment.Likes}} <button @click="likeComment(comment)">Like</button>
                        </li>
                    </ul>   -->                
                </div>
            </div>
        </div>
    </div>

    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/config.js"></script>
    <script src="js/match.js"></script>
</body>

</html>